body {
    justify-content: center;
    align-items: center;
    display: flex;
}

.profile-container {
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    text-align: center;
    width: 70%;
    position: relative;
    width: 500px;
    overflow: hidden;
    padding-bottom: 50px;
}

.banner {
    padding: 20px;
    background-color: rgb(40, 93, 157);
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
}

.profile-pic {
    position: relative;
    border-radius: 100%;
    border: 5px solid white;
    top: -60px;
}

.tag {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: rgb(188, 188, 188);
    border-radius: 30px;
}

h2 {
    margin-top: -40px;
}

.floating-box {
    position: absolute;
    background-color: orange;
    text-align: center;
    right: 25px;
    bottom: 25px;
    height: 70px;
    border-radius: 20px;

}